begin options
  readasarrays
{%- if fixed_cell is defined -%}  fixed_cell{%- endif -%}
{%- if auxiliary is defined -%}  auxiliary {{auxiliary(naux)}}{%- endif -%}
{%- if auxmultname is defined -%}  auxmultname {{auxmultname}}{%- endif -%}
{%- if print_input is defined -%}  print_input{%- endif -%}
{%- if print_flows is defined -%}  print_flows{%- endif -%}
{%- if save_flows is defined -%}  save_flows{%- endif -%}
{%- if tas_filerecord is defined -%}  tas6 filein {{tas6_filename}}{%- endif -%}
{%- if obs_filerecord is defined -%}  obs6 filein {{obs6_filename}}{%- endif -%}
end options

{% for i, path in periods.items() %}begin period {{i}}
  open/close {{path}} (binary)
end period{% endfor %}